-# 新規会員登録
= render "hp_top/header"
.body
  .sinki
    %h2 新規登録　※現在利用できません
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      %br/
      .field 
        = f.label :nickname,'ニックネーム'
        %br/
        = f.text_field :nickname, autofocus: true
      .field
        = f.label :lastname,'お名前（任意）'
        %br/
        = f.text_field :lastname
      .field
        = f.label :firstname,'フリガナ（任意）'
        %br/
        = f.text_field :firstname
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} 文字以上)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "Sign up"
      %br/
    = render "devise/shared/links"
= render "hp_top/footer"