.header
  .h1 
    = link_to root_path do
      = image_tag 'top1.png', class: 'top-logo' 
      一般社団法人アラヤシキ

  
  %ul.header-links
    %li.header-link
      = link_to '#' do
        About
    %li.header-link
      = link_to '#' do
        projects
    %li.header-link
      = link_to '#' do
        blog
    %li.header-link
      = link_to '#' do
        contact
    %li.header-link
      = link_to '#' do
        donation
  .mypage
    - if user_signed_in?
      = link_to 'log out', destroy_user_session_path , method: :delete , alt: 'signin',class: 'sign' do
        = "#{current_user.nickname}でログイン中"
    - else
      = link_to 'sign up', new_user_registration_path,class: 'sign'
      = link_to 'log in', new_user_session_path ,class: 'sign'
      -# %i.fas.fa-sign-in-alt
      
-# .fukidashi 吹き出しが表示されます





        -# %ul
        -#   %li
        -#     - unless user_signed_in?
        -#       =link_to new_user_session_path do
        -#         ログイン
        -#   %li
        -#     - unless user_signed_in?
        -#       =link_to new_user_registration_path do
        -#         新規会員登録
        -#   %li
        -#     - if user_signed_in?
        -#       = link_to profiles_path do
        -#         %p マイページ / #{current_user.nickname}

                  