.header
  .h1__title 
    = link_to root_path do
      = image_tag 'top1.png', class: 'top-logo' 
      一般社団法人アラヤシキ

  
  %ul.header-links
    %li.header-link
      = link_to 'About','/about'
        
    %li.header-link
      = link_to 'projects','/projects'
        
    -# %li.header-link
    -#   = link_to 'note','#' 
        
    %li.header-link
      = link_to 'contact','/contact' 
    %li.header-link
      = link_to 'donation','/donation' 
        
  .mypage
    - if user_signed_in?
      = link_to 'log out', destroy_user_session_path , method: :delete , alt: 'signin',class: 'sign' 
      = link_to "#{current_user .nickname}",'/mypage',class: 'nickname'
    - else
      = link_to 'sign up', new_user_registration_path,class: 'sign'
      = link_to 'log in', new_user_session_path ,class: 'sign'

-# = link_to 'admin','#',alt: 'admin',class: 'adm' 
